n8n/workflow_sync_retrain.json
{
  "id": "faiv-sync-retrain",
  "name": "FAIV Predict - Verified Sync and Retrain",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [1],
              "triggerAtHour": 6,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "weekly-schedule",
      "name": "Weekly Sync (Monday 06:00 WIB)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 260]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "daily-health",
      "name": "Daily Connection Health (07:00 WIB)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 560]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FAIV_ML_URL || 'http://127.0.0.1:8000' }}/instagram/health",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_API_TOKEN }}"
            }
          ]
        },
        "options": { "timeout": 60000 }
      },
      "id": "health-request",
      "name": "Check Instagram Connections",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 560],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "any-unhealthy",
              "leftValue": "={{ !Array.isArray($json.connections) || $json.connections.length === 0 || $json.connections.some(c => c.status !== 'connected') }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "health-condition",
      "name": "Any Connection Unhealthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 560]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.NOTIFICATION_FROM_EMAIL }}",
        "toEmail": "={{ $env.NOTIFICATION_TO_EMAIL }}",
        "subject": "=FAIV Predict: Instagram connection needs attention ({{ $now.format('dd/MM/yyyy HH:mm') }})",
        "emailType": "html",
        "html": "=<h2>Instagram connection health</h2><p>One or more verified brand connections need attention before the next sync.</p><table border=\"1\" cellpadding=\"8\" cellspacing=\"0\"><tr><th>Brand</th><th>Status</th></tr>{{ Array.isArray($json.connections) ? $json.connections.map(c => '<tr><td>' + c.brand + '</td><td>' + c.status + (c.error ? ': ' + c.error : '') + '</td></tr>').join('') : '<tr><td colspan=\"2\">Health request failed before connection data was returned.</td></tr>' }}</table><p>Review the server-side Meta credential configuration. No user-facing data was substituted.</p>",
        "options": {}
      },
      "id": "health-email",
      "name": "Send Connection Warning",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [970, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FAIV_ML_URL || 'http://127.0.0.1:8000' }}/sync/now",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_API_TOKEN }}"
            }
          ]
        },
        "options": { "timeout": 300000 }
      },
      "id": "sync-request",
      "name": "Sync Instagram and Retrain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 260],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "pipeline-success",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sync-condition",
      "name": "Pipeline Fully Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 260]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.NOTIFICATION_FROM_EMAIL }}",
        "toEmail": "={{ $env.NOTIFICATION_TO_EMAIL }}",
        "subject": "=FAIV Predict: verified sync completed ({{ $now.format('dd/MM/yyyy HH:mm') }})",
        "emailType": "html",
        "html": "=<h2>Sync and retraining completed</h2><table border=\"1\" cellpadding=\"8\" cellspacing=\"0\"><tr><th>Brand</th><th>Posts</th><th>Training</th></tr>{{ $json.results.map(r => '<tr><td>' + r.brand + '</td><td>' + (r.sync.posts_synced ?? 0) + '</td><td>' + r.train.status + (r.train.scope ? ' (' + r.train.scope + ')' : '') + '</td></tr>').join('') }}</table>",
        "options": {}
      },
      "id": "success-email",
      "name": "Send Success Summary",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [970, 180]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.NOTIFICATION_FROM_EMAIL }}",
        "toEmail": "={{ $env.NOTIFICATION_TO_EMAIL }}",
        "subject": "=FAIV Predict: sync requires attention ({{ $now.format('dd/MM/yyyy HH:mm') }})",
        "emailType": "html",
        "html": "=<h2>Sync or retraining was not fully successful</h2><p>Status: {{ $json.status || 'request failed' }}</p><pre>{{ JSON.stringify($json.results || $json.error || $json, null, 2) }}</pre>",
        "options": {}
      },
      "id": "failure-email",
      "name": "Send Failure Summary",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [970, 340]
    }
  ],
  "connections": {
    "Weekly Sync (Monday 06:00 WIB)": {
      "main": [[{ "node": "Sync Instagram and Retrain", "type": "main", "index": 0 }]]
    },
    "Sync Instagram and Retrain": {
      "main": [[{ "node": "Pipeline Fully Successful?", "type": "main", "index": 0 }]]
    },
    "Pipeline Fully Successful?": {
      "main": [
        [{ "node": "Send Success Summary", "type": "main", "index": 0 }],
        [{ "node": "Send Failure Summary", "type": "main", "index": 0 }]
      ]
    },
    "Daily Connection Health (07:00 WIB)": {
      "main": [[{ "node": "Check Instagram Connections", "type": "main", "index": 0 }]]
    },
    "Check Instagram Connections": {
      "main": [[{ "node": "Any Connection Unhealthy?", "type": "main", "index": 0 }]]
    },
    "Any Connection Unhealthy?": {
      "main": [[{ "node": "Send Connection Warning", "type": "main", "index": 0 }], []]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jakarta"
  },
  "active": false,
  "tags": [
    { "name": "FAIV Predict", "id": "faiv-predict" }
  ]
}
